* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: #111;
  color: #fff;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}


.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #00c6ff;
}


.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}


#menu-toggle {
  display: none;
}


@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: #111;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-links a {
    padding: 16px 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #333;
  }

  
  #menu-toggle:checked ~ .nav-links {
    display: flex;
  }
}
